COMPOSE_PROJECT_NAME=governance
NETWORK=preprod

# keep alive for all http servers
HTTP_SERVER_KEEP_ALIVE_SECONDS=182

# use 'all' to enable query logging
POSTGRES_LOG_STATEMENT=none
POSTGRES_LOG_DURATION=off

# mainnet WRT and its minting block
GOVERNANCE_TOKEN_POLICY_ID=c0ee29a85b13209423b10447d3c2e6a50641a15c57770e27cb9d5073
GOVERNANCE_TOKEN_ASSET_NAME=57696e67526964657273
KUPO_SINCE_SLOT=54772901
KUPO_SINCE_HEADER_HASH=fd7ed7b7305b90d70c494df8c6f98e66302d41f85e366c8c070c35acd93dc3ea
KUPO_PORT=1442

CARDANO_NODE_PORT=3002
OGMIOS_PORT=1338

DATA_PATH=./preprod-data

# Governance database

GOVERNANCE_DB=governance
GOVERNANCE_DB_USER=gov
GOVERNANCE_DB_PASSWORD=pass
GOVERNANCE_DB_PORT=5435
